* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0;
  padding: 0;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  /* flex: 0 0 calc(33.33% - 40px); */

  /* background-color: #ffffff; */
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 300px;
  background: linear-gradient(to right, white 50%, #fff8a8 50%);
  background-position: left bottom;
  background-size: 200% 100%;
  transition: all 1s ease;
}

.card:hover {
  /* background-color: rebeccapurple; */
  box-shadow: 0 5px 10px black;
  background-position: right bottom;
  transform: scale(1.05);
  cursor: url(asp-v-99cur.cur), auto;
}

@media (max-width: 1024px) {

  /* Adjust the breakpoint as per your needs */
  .card {
    flex-basis: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(100% - 40px);
  }
}

.card .course-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  /* margin-bottom: 10px; */
}

.card .title {
  font-size: 16px;
  font-weight: bold;
  color: #ff4000;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.bg-subtitle {
  background-color: #d18f0c;
  position: relative;
  margin-bottom: 50px;
  margin-top: 10px;
}

.card-bg {
  /* position: relative; */
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.card-bg.geeksforgeeks {
  background-image: url('gfg.png');
  height: 20px;
  width: 40px;
  position: relative;
}

.card-bg.udemy {
  background-image: url('udemy.png');
  height: 26px;
  width: 69px;
  position: relative;
}

.card-bg.coursera {
  position: relative;
  background-image: url('coursera.png');
  height: 13px;
  width: 95px;
}


.card-bg.alison {
  position: relative;
  background-image: url('alison.svg');
  height: 33px;
  width: 97px;
}

.card-bg.youtube {
  position: relative;
  background-image: url('youtube.png');
  height: 25px;
  width: 92px;
}

.card-bg.domestika {
  position: relative;
  background-image: url('domestika.png');
  height: 18px;
  width: 95px;
}

.card-bg.greatlearning {
  position: relative;
  background-image: url('greatlearning.png');
  height: 25px;
  width: 95px;
}

.card-bg.nptel {
  position: relative;
  background-image: url('npetl.png');
  height: 18px;
  width: 95px;
}

.card-bg.codingninjas {
  position: relative;
  background-image: url('codingninja.png');
  height: 40px;
  width: 95px;
}

.card .subtitle {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  /* border: 1px solid red; */
  /* padding: 1rem 1rem; */
  vertical-align: middle;
  font-size: 20px;
  /* font-weight: 600; */
  color: #060606;
  float: right;
}

.rating-price {
  background-color: #d18f0c;
  margin-bottom: 50px;
}

.rating-value {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  display: inline-block;
  /* text-align: left; */
  float: left;
  margin-right: 5px;
}

.card .rating {

  font-size: 14px;
  color: #666666;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.card .price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  float: right;
  vertical-align: middle;

}

.card .instructor {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 6px;
  text-align: left;
  /* border: 2px solid; */
  /* margin-top: 10px; */
}

.card .tags {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 15px;
  /* font-weight: bold; */
  color: #F08519;
  /* float: right; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  /* border: 2px solid black; */
}


.card .rating .star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('star-removebg-preview.png');
  /* Replace with the path to your star icon image */
  background-size: cover;
  margin-right: 2px;
}

.compare-button {
  padding: 8px 12px;
  background-color: #F08519;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
  float: left;
}

.compare-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;

}

#cart-icon {
  height: 25px;
  width: 25px;
  /* float: right; */
  vertical-align: middle;
}

.add-to-cart {
  padding: 8px 12px;
  background-color: #F08519;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
  margin-top: 20px;
  /* float: left; */
  width: 100%;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #000000;
  color: #ffffff;
}

.card .button {
  padding: 8px 12px;
  background-color: #F08519;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
  float: right;
}

.card .button:hover {
  background-color: #000000;
  color: #ffffff;
}

.card .button:active {
  background-color: #d18f0c;
}
